<div class="h-full">
    <div class="grid grid-flow-col grid-cols-2">
        <ng-container *ngFor="let tab of tabs">
            <div class="grid grid-flow-col items-stretch">
                <input class="hidden peer"
                type="radio" 
                name="tab"
                [formControl]="tabControl"
                [id]="tab"
                [value]="tab">
                <label class="tab-button py-5" 
                id="{{tab}}-label"
                [for]="tab">
                    {{ tab.toUpperCase() }}
                </label>
            </div>
        </ng-container>
    </div>
    <div class="container px-4 h-fit flex justify-center">
        <div class="bg-white rounded-lg p-10 shadow-2xl mt-10">
            <ng-container *ngIf="tabControl.value=='login'">
                <app-login-form></app-login-form>
            </ng-container>
            <ng-container *ngIf="tabControl.value=='register'">
                <app-register-form></app-register-form>
            </ng-container>
        </div>
    </div>
</div>