<div *ngIf="mobileLayout">
    <div class="grid grid-flow-col grid-cols-2">
        <div *ngFor="let tab of mobileTabs"
        class="grid grid-flow-col place-items-stretch text-center">
            <input class="hidden peer"
            type="radio" 
            name="mobileTabs" 
            [id]="tab"
            [value]="tab"
            [formControl]="mobileTabControl">
            <label class="border-b border-light-blue text-dark-blue
            peer-checked:border-main-red peer-checked:text-main-red" 
            [for]="tab">
                {{ tab.toUpperCase() }}
            </label>
        </div>
    </div>
    <div *ngIf="mobileTabControl.value=='Calendar'">
        <div class="grid grid-flow-row gap-2 place-self-center my-2">
            <div class="flex justify-evenly">
                <button class="calendar-move-button"
                title="Move 30 days back"
                (click)="moveByAmountOfDays('back')">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke-width="1.5" 
                    stroke="currentColor" 
                    class="w-6 h-6">
                        <path stroke-linecap="round" 
                        stroke-linejoin="round" 
                        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" 
                        />
                    </svg>              
                </button>
                <button class="calendar-move-button"
                (click)="goToToday()">
                    GO TO TODAY
                </button>
                <button class="calendar-move-button"
                title="Move 30 days ahead"
                (click)="moveByAmountOfDays('forward')">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                    fill="none" 
                    viewBox="0 0 24 24" 
                    stroke-width="1.5" 
                    stroke="currentColor" 
                    class="w-6 h-6">
                        <path stroke-linecap="round" 
                        stroke-linejoin="round" 
                        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" 
                        />
                    </svg>              
                </button>
            </div>
        </div>
        <div>
            <select class="input-style text-sm"
            (change)="getNumberOfDays(); onChangeDate()"
            [formControl]="daysControl">
                <option *ngFor="let day of days"
                (change)="onChangeDate()"
                [value]="day.getDate().toString()"
                [id]="day.getDate().toString()">
                    {{ day.getDate() }}
                </option>
            </select>
            <select class="input-style text-sm"
            (change)="getNumberOfDays(); onChangeDate()"
            [formControl]="monthsControl">
                <option *ngFor="let month of monthsNames; let i = index"
                [value]="i+1">
                    {{ month }}
                </option>
            </select>
            <select class="input-style text-sm"
            (change)="getNumberOfDays(); onChangeDate()"
            [formControl]="yearsControl">
                <option *ngFor="let year of years"
                [value]="year">
                    {{ year }}
                </option>
            </select>
        </div>
        <div class="grid grid-flow-row place-items-start divide-y divide-light-gray divide-dashed">
            <ng-container *ngIf="isDateLater">
                <p class="text-lg">
                    Predicted balance:
                    <span class="font-bold"
                    [ngClass]="{'text-red-700': estimatedBalance < userData.balance, 'text-green-700': estimatedBalance > userData.balance}">
                        {{ estimatedBalance }} $
                    </span> 
                </p>
            </ng-container>
            <div class="grid overflow-y-auto max-h-[17rem] gap-y-3 divide-y divide-light-gray divide-dashed place-self-stretch">
                <ng-container *ngIf="!eventsOnSelectedDay.length">
                    <p class="place-self-center text-center font-bold text-lg mt-2">
                        Nothing saved on this day
                    </p>
                </ng-container>
                <ng-container *ngIf="eventsOnSelectedDay.length">
                    <ng-container *ngFor="let date of eventsOnSelectedDay">
                        <ng-container *ngIf="isOperation(date)">
                            <app-money-operation [operationData]="date" [userData]="userData"></app-money-operation>
                        </ng-container>
                        <ng-container *ngIf="!isOperation(date)">
                            <app-date-display [dateData]="date" [userData]="userData"></app-date-display>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="mobileTabControl.value=='add'"
    class="grid grid-flow-row place-items-stretch">
        <select class="input-style justify-self-stretch"
        [formControl]="formTabControl">
            <option *ngFor="let tab of formTabs"
            [value]="tab">
                {{ tab.toUpperCase() }}
            </option>
        </select>
        <ng-container *ngIf="formTabControl.value=='date'">
            <app-dates-form [selectedDate]="selectedDate" [userData]="userData"></app-dates-form>
        </ng-container>
        <ng-container *ngIf="formTabControl.value=='money'">
            <app-money-form [selectedDate]="selectedDate" [userData]="userData"></app-money-form>
        </ng-container>
        <ng-container *ngIf="formTabControl.value=='note'">
            <app-notes-form [userData]="userData"></app-notes-form>
        </ng-container>
    </div>
</div>
<div *ngIf="!mobileLayout"
class="grid gap-5">
    <div class="grid grid-flow-col gap-2 place-self-center">
        <select class="input-style"
        (change)="getNumberOfDays(); onChangeDate()"
        [formControl]="monthsControl">
            <option *ngFor="let month of monthsNames; let i = index"
            [value]="i+1">
                {{ month }}
            </option>
        </select>
        <select class="input-style"
        (change)="getNumberOfDays(); onChangeDate()"
        [formControl]="yearsControl">
            <option *ngFor="let year of years"
            [value]="year">
                {{ year }}
            </option>
        </select>
        <button class="calendar-move-button"
        title="Move 30 days back"
        (click)="moveByAmountOfDays('back')">
            <svg xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor" 
            class="w-6 h-6">
                <path stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" 
                />
            </svg>              
        </button>
        <button class="calendar-move-button"
        (click)="goToToday()">
            GO TO TODAY
        </button>
        <button class="calendar-move-button"
        title="Move 30 days ahead"
        (click)="moveByAmountOfDays('forward')">
            <svg xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor" 
            class="w-6 h-6">
                <path stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" 
                />
            </svg>              
        </button>
    </div>
    <div class="grid grid-flow-col grid-cols-10 gap-5 gap-x-10">
        <div class="grid col-span-7">
            <div class="grid grid-cols-4 xl:grid-cols-5 grid-flow-row place-items-stretch gap-3">
                <ng-container *ngFor="let day of days">
                    <div class="grid palce-items-stretch">
                        <input type="radio"
                        class="hidden peer" 
                        name="day"
                        (change)="onChangeDate()"
                        [value]="day.getDate().toString()"
                        [id]="day.getDate().toString()"
                        [formControl]="daysControl">
                        <label class="calendar-button" 
                        [for]="day.getDate().toString()">
                            <span class="font-bold text-3xl">
                                {{ day.getDate() }}
                            </span>
                            <span>
                                {{ daysNames[day.getDay()] }}
                            </span>
                        </label>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="grid grid-flow-row auto-rows-min gap-y-2 col-span-3 divide-y divide-black">
            <div class="grid">
                <div class="grid grid-flow-col">
                    <div *ngFor="let tab of rightSideTabs"
                    class="grid grid-flow-col place-items-stretch text-center">
                    <input class="hidden peer"
                    type="radio" 
                    name="tabs"
                    [id]="tab"
                    [value]="tab"
                    [formControl]="rightSideTabsControl">
                    <label class="border-b border-light-blue text-dark-blue
                    peer-checked:border-main-red peer-checked:text-main-red" 
                    [for]="tab">
                        {{ tab.toUpperCase() }}
                    </label>
                </div>
                </div>
                <ng-container *ngIf="rightSideTabsControl.value=='add'">
                    <select class="input-style justify-self-stretch"
                    [formControl]="formTabControl">
                        <option *ngFor="let tab of formTabs"
                        [value]="tab">
                            {{ tab.toUpperCase() }}
                        </option>
                    </select>
                    <ng-container *ngIf="formTabControl.value=='date'">
                        <app-dates-form [selectedDate]="selectedDate" [userData]="userData"></app-dates-form>
                    </ng-container>
                    <ng-container *ngIf="formTabControl.value=='money'">
                        <app-money-form [selectedDate]="selectedDate" [userData]="userData"></app-money-form>
                    </ng-container>
                    <ng-container *ngIf="formTabControl.value=='note'">
                        <app-notes-form [userData]="userData"></app-notes-form>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="rightSideTabsControl.value=='upcoming'">
                    <app-upcoming-events [userData]="userData"></app-upcoming-events>
                </ng-container>
            </div>
            <div class="grid grid-flow-row place-items-start divide-y divide-light-gray divide-dashed">
                <ng-container *ngIf="isDateLater">
                    <p class="text-lg">
                        Predicted balance:
                        <span class="font-bold"
                        [ngClass]="{'text-red-700': estimatedBalance < userData.balance, 'text-green-700': estimatedBalance > userData.balance}">
                            {{ estimatedBalance }} $
                        </span> 
                    </p>
                </ng-container>
                <div class="grid overflow-y-auto max-h-[17rem] gap-y-3 divide-y divide-light-gray divide-dashed place-self-stretch">
                    <ng-container *ngIf="!eventsOnSelectedDay.length">
                        <p class="place-self-center text-center font-bold text-lg mt-2">
                            Nothing saved on this day
                        </p>
                    </ng-container>
                    <ng-container *ngIf="eventsOnSelectedDay.length">
                        <ng-container *ngFor="let date of eventsOnSelectedDay">
                            <ng-container *ngIf="isOperation(date)">
                                <app-money-operation [operationData]="date" [userData]="userData"></app-money-operation>
                            </ng-container>
                            <ng-container *ngIf="!isOperation(date)">
                                <app-date-display [dateData]="date" [userData]="userData"></app-date-display>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
