<div class="grid gap-5">
    <div class="grid grid-flow-col gap-2 place-self-center">
        <select class="input-style"
        (change)="getNumberOfDays(); onChangeDate()"
        [formControl]="monthsControl">
            <option *ngFor="let month of monthsNames; let i = index"
            [value]="i+1">
                {{ month }}
            </option>
        </select>
        <select class="input-style"
        (change)="getNumberOfDays(); onChangeDate()"
        [formControl]="yearsControl">
            <option *ngFor="let year of years"
            [value]="year">
                {{ year }}
            </option>
        </select>
        <button class="today-button"
        (click)="goToToday()">
            GO TO TODAY
        </button>
    </div>
    <div class="grid grid-flow-col grid-cols-10 gap-5 gap-x-10">
        <div class="grid col-span-7">
            <div class="grid grid-cols-5 grid-flow-row place-items-stretch gap-y-3 gap-x-10">
                <ng-container *ngFor="let day of days">
                    <div class="grid palce-items-stretch">
                        <input type="radio"
                        class="hidden peer" 
                        name="day"
                        (change)="onChangeDate()"
                        [value]="day.getDate().toString()"
                        [id]="day.getDate().toString()"
                        [formControl]="daysControl">
                        <label class="calendar-button" 
                        [for]="day.getDate().toString()">
                            <span class="font-bold text-3xl">
                                {{ day.getDate() }}
                            </span>
                            <span>
                                {{ daysNames[day.getDay()] }}
                            </span>
                        </label>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="grid grid-flow-row auto-rows-min gap-y-2 col-span-3 divide-y divide-black">
            <div class="grid">
                <div class="grid grid-flow-col">
                    <div *ngFor="let tab of rightSideTabs"
                    class="grid grid-flow-col place-items-stretch text-center">
                    <input class="hidden peer"
                    type="radio" 
                    name="tabs" 
                    [id]="tab"
                    [value]="tab"
                    [formControl]="rightSideTabsControl">
                    <label class="border-b border-light-blue text-dark-blue
                    peer-checked:border-main-red peer-checked:text-main-red" 
                    [for]="tab">
                        {{ tab.toUpperCase() }}
                    </label>
                </div>
                </div>
                <ng-container *ngIf="rightSideTabsControl.value=='add'">
                    <select class="input-style justify-self-stretch"
                    [formControl]="formTabControl">
                        <option *ngFor="let tab of formTabs"
                        [value]="tab">
                            {{ tab.toUpperCase() }}
                        </option>
                    </select>
                    <ng-container *ngIf="formTabControl.value=='date'">
                        <app-dates-form [selectedDate]="selectedDate" [userData]="userData"></app-dates-form>
                    </ng-container>
                    <ng-container *ngIf="formTabControl.value=='money'">
                        <app-money-form [selectedDate]="selectedDate" [userData]="userData"></app-money-form>
                    </ng-container>
                    <ng-container *ngIf="formTabControl.value=='note'">
                        <app-notes-form [userData]="userData"></app-notes-form>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="rightSideTabsControl.value=='upcoming'">
                    <app-upcoming-events [userData]="userData"></app-upcoming-events>
                </ng-container>
            </div>
            <div class="grid grid-flow-row place-items-start">
                <ng-container *ngIf="isDateLater">
                    <p class="text-lg">
                        Predicted balance:
                        <span class="font-bold"
                        [ngClass]="{'text-red-700': estimatedBalance < userData.balance, 'text-green-700': estimatedBalance > userData.balance}">
                            {{ estimatedBalance }} $
                        </span> 
                    </p>
                </ng-container>
                <div class="overflow-y-auto max-h-64 place-self-stretch">
                    <ng-container *ngIf="!eventsOnSelectedDay.length">
                        <p class="place-self-center text-center font-bold text-lg">
                            Nothing saved on this day
                        </p>
                    </ng-container>
                    <ng-container *ngIf="eventsOnSelectedDay.length">
                        <ng-container *ngFor="let date of eventsOnSelectedDay">
                            <ng-container *ngIf="isOperation(date)">
                                <app-money-operation [operationData]="date" [userData]="userData"></app-money-operation>
                            </ng-container>
                            <ng-container *ngIf="!isOperation(date)">
                                <app-date-display [dateData]="date"></app-date-display>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
