<div class="grid grid-flow-row gap-y-3">
    <input type="text" 
    class="input-style"
    placeholder="Name"
    [formControl]="nameControl">
    <input type="text" 
    class="input-style"
    placeholder="Email"
    [formControl]="emailControl">
    <input type="password" 
    class="input-style"
    placeholder="Password"
    [formControl]="passwordControl">
    <input type="password" 
    class="input-style"
    placeholder="Repeat password"
    [formControl]="reapatedPasswordControl">
    <p class="text-center font-semibold h-6"
    [ngClass]="info == 'You have been registered' ? 'text-green-700' : 'text-main-red'">
        {{ info }}
    </p>
    <div class="flex justify-evenly">
        <button class="red-button py-2 w-20" 
        (click)="clearForm()">
            CLEAR
        </button>
        <button class="green-button py-2 w-20" 
        (click)="registerUser()">
            SEND
        </button>
    </div>
</div>