<div *ngIf="ready">
    <div class="absolute left-1/2">
        <app-info-popup></app-info-popup>
    </div>
    <div class="grid grid-flow-col">
        <ng-container *ngFor="let tab of tabs">
            <div class="grid grid-flow-col items-stretch">
                <input class="hidden peer"
                type="radio" 
                name="tab"
                [formControl]="tabControl"
                [id]="tab"
                [value]="tab">
                <label class="tab-button" 
                id="{{tab}}-label"
                [for]="tab">
                    {{ tab.toUpperCase() }}
                </label>
            </div>
        </ng-container>
    </div>
    <div>
        <ng-container *ngIf="tabControl.value=='calendar'">
            <app-calendar-dashboard [userData]="userData"></app-calendar-dashboard>
        </ng-container>
        <ng-container *ngIf="tabControl.value=='dates'">
            <app-dates-dashboard [userData]="userData"></app-dates-dashboard>
        </ng-container>
        <ng-container *ngIf="tabControl.value=='notes'">
            <app-notes-dashboard [userData]="userData"></app-notes-dashboard>
        </ng-container>
        <ng-container *ngIf="tabControl.value=='money'">
            <app-money-dashboard [userData]="userData"></app-money-dashboard>
        </ng-container>
        <ng-container *ngIf="tabControl.value=='profile'">
            <app-profile-dashboard [userData]="userData"></app-profile-dashboard>
        </ng-container>
    </div>
</div>
<div *ngIf="!ready">
    Loading...
</div>
