<div>
    <div class="grid grid-flow-col">
        <button (click)="tab='calendar'">
            Calendar
        </button>
        <button (click)="tab='notes'">
            Notes
        </button>
        <button (click)="tab='profile'">
            Profile
        </button>
    </div>
    <div>
        <ng-container *ngIf="tab=='calendar'">
            <app-calendar-dashboard [userData]="userData"></app-calendar-dashboard>
        </ng-container>
        <ng-container *ngIf="tab=='notes'">
            <app-notes-dashboard [userData]="userData"></app-notes-dashboard>
        </ng-container>
        <ng-container *ngIf="tab=='profile'">
            <app-profile-dashboard [userData]="userData"></app-profile-dashboard>
        </ng-container>
    </div>
    
</div>
