@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

@layer components {
    .calendar-button {
        @apply grid border-2 border-main-red bg-light-blue text-dark-gray py-2 px-3 rounded-md
        transition-all duration-300
        hover:bg-[#A9C6CC] hover:text-light-blue
        peer-checked:border-dark-gray peer-checked:bg-main-red peer-checked:text-light-blue
    }
    .tab-button {
        @apply grid place-items-center bg-light-blue text-dark-gray text-3xl font-light font-mono
        transition-all duration-500
        peer-checked:bg-main-red peer-checked:text-light-gray
        hover:bg-dark-gray hover:text-light-blue
        
    }
    .red-button {
        @apply grid place-items-center text-white bg-red-700 border-2 border-black rounded-md
        transition-all duration-500
        hover:bg-white hover:text-red-700
    }
    .green-button {
        @apply grid place-items-center text-white bg-green-700 border-2 border-black rounded-md
        transition-all duration-500
        hover:bg-white hover:text-green-700
    }
    .note-color {
        @apply border-2 border-transparent px-3 rounded-full
        transition-all duration-300
        peer-checked:border-blue-800
    }
    .input-style {
        @apply bg-transparent  border-0 border-b-2 border-dark-gray text-center
        transition-all duration-300
        focus:ring-0 
    }
    .error-info {
        @apply border border-red-700 bg-red-200 text-center font-semibold py-2 rounded-md
    }
    .calendar-move-button {
        @apply border-2 border-black rounded-xl p-2 font-semibold
        transition-all duration-300
        hover:bg-gray-400
    }
}

::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #BDBDBD; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #CAEBF2;
    border-radius: 10px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: #A9C6CC; 
  }

label {
    cursor: pointer;
}

