<div class="grid grid-flow-row gap-y-2">
    <input type="text"
    class="input-style"
    id="noteTitle" 
    [formControl]="titleControl" 
    placeholder="Title">
    <input type="text" 
    class="input-style"
    [formControl]="descriptionControl" 
    id="noteDescription" 
    placeholder="Description">
    <div class="flex justify-evenly items-center place-self-stretch">
        <span *ngFor="let color of notesColors">
            <input class="peer hidden" 
            type="radio" 
            name="color" 
            [formControl]="colorControl"
            [id]="color"
            [value]="color">
            <label [for]="color"
            class="note-color" 
            [ngStyle]="{backgroundColor: color}">
            </label>
        </span>
    </div>
    <p>
        {{ info }}
    </p>
    <div class="grid grid-flow-col place-items-center">
        <button class="red-button px-7 py-2" 
        id="noteClearForm"
        (click)="clearForm()">
            <svg xmlns="http://www.w3.org/2000/svg" 
            class="h-6 w-6" 
            fill="none" 
            viewBox="0 0 24 24"
            stroke="currentColor" 
            stroke-width="2">
                <path stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M6 18L18 6M6 6l12 12" 
                />
            </svg>
        </button>
        <button class="green-button px-7 py-2" 
        id="noteSubmitForm"
        (click)="sendNote()">
            <svg xmlns="http://www.w3.org/2000/svg" 
            class="h-6 w-6" 
            fill="none" 
            viewBox="0 0 24 24"
            stroke="currentColor" 
            stroke-width="2">
                <path stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M5 13l4 4L19 7" 
                />
            </svg>
        </button>
    </div>
</div>